.App {
  text-align: center;
  font-size: 1.6rem;
  margin: 0 auto;
}

header {
  width: 40%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #222;
}
header a {
  font-size: 1.8rem;
  text-decoration: none;
}

.Smurf {
  margin-bottom: 50px;
  margin-top: 50px;
}
.SmurfForm {
  margin-top: 20px;
}